<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class='container'>
            <h3>{{ client.getName }}</h3>
            <ul>
                <li><span style="text-decoration:underline">Stylist</span>: <a href="/stylist/{{ client.getStylistId() }}">{{ stylist_name }}</a></li>
            </ul>
            {% include 'footer.html' %}
        </div>
    </body>
</html>
