<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <h3>Clients</h3>
            <ul>
                {% for client in clients %}
                    <li><a href="client/{{ client.getId }}">{{ client.getName }}</a></li>
                {% endfor %}
            </ul>

        {% include 'footer.html' %}
        </div>
    </body>
</html>
