<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <h3>Clients</h3>
            <ul>
                {% for client in clients %}
                    <li><a href="client/{{ client.getId }}">{{ client.getName }}</a></li>
                {% endfor %}
            </ul>
            <br>
            <form action="/delete_clients" method="post">
                <button class="btn btn-danger" type="submit">Delete All Clients</button>
            </form>
            <br>

        {% include 'footer.html' %}
        </div>
    </body>
</html>
