<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <span style="font-size:18px;text-decoration:underline;">{{ stylist.getName }}</span> - {{ stylist.getLocation }}
            <br>
            <br>
            <form action="/add_client" method="post" class="form-inline">
                <input type="hidden" name="stylist_id" value="{{ stylist.getId() }}">
                <div class="form-group">
                    <label for="client_name">Add a Client</label>
                    <input id="client_name" name="client_name" type="text" class="form-control" placeholder="Type Client's Name">
                </div>
                <button type="submit" class="btn btn-success">Add Client</button>
            </form>
            <br>
            <br>
            <span style="text-decoration:underline;">Clients</span>:
            <ul>
                {% for client in clients %}
                    <li>{{ client.getName }}</li>

                {% endfor %}
            </ul>
            <br>
            <br>
            {% include 'footer.html' %}
        </div>
    </body>
</html>
