<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <h4><span style="text-decoration:underline">{{ stylist.getName }}</span></h4>
        </div>

    </body>
</html>
