<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <h3>Stylists</h3>
            <ul>
                {% for stylist in stylists %}
                    <li><a href="stylist/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                {% endfor %}
            </ul>
            <br>
            <form action="/delete_stylists" method="post">
                <button class="btn btn-danger" type="submit">Delete All Stylists</button>
            </form>
            <br>
            {% include 'footer.html' %}
        </div>

    </body>
</html>
